
/***************
 *
 *
 *
 * COLORS:
 * ns_blue: #5291c1
 * ns_blue_lighter: #73a2c5
 * chammy duck: #FFF021
 * purple: #5B32B5
 * dark purple: 1F0753
 * dark green: 125C12
 */
html { height: 100%; }
body {
background: #e1e1e1;
font-family:arial,verdana,helvetica,arial,sans-serif;
font-size:13pt;
color:#454545;
margin: 0 auto;
padding: 0 0 100px 0;
}

a:link, a:visited {
color: blue;
}

#header,#content{
width:100%;
}

#header-top {
height:35px;
/* background: url("../img/header_bg.png") repeat-x; */
background-color: gray;
color: white;
border-bottom: 2px solid black;
padding: 0 0 0 20px;
}
#header-top a {
font-weight: bold;
color: white;
}

#header-top .header-item {
margin: 8px 20px 0 0 ;
float: left;
font-size: 10pt;
}

#header-bottom {
/* height:35px; */
/* background: url("../img/header_bg.png") repeat-x; */
background-color: #333;
color: white;
border-bottom: 2px solid black;
padding: 0 0 0 20px;
overflow: auto;
}
#header-bottom .header-item {
margin: 4px 10px 5px 0 ;
float: left;
font-size: 11pt;
}

#container {
/*width: 100%;*/
padding: 0 15px 0 25px;
}

#menu {
margin: 0 0 10px 0;
}

.menu-item {
margin: 8px 10px 0 10px ;
float: left;
font-size: 10pt;
}

#error-message {
color: red;
}

#info-message {
color: green;
}

#add-order {
background-color: white;
height: 330px;
border-top: 1px solid black;
border-bottom: 1px solid black;
margin: 10px 0 30px 0;
padding: 10px 20px 10px 20px;
}
#add-order table td{
font-weight: bold;
}

#add-order-client {
float: left;
height: 300px;
/*width: 29%;*/
margin: 0 10px 0 0;
}

/* jquery autocomplete */
.ui-menu-item {
font-size: 10pt;
}

#add-order-order {
float: left;
height: 300px;
/*width: 45%;*/
}
.add-order-table {
text-align: left;
width: 100%;
}

#submit-order {
float: left;
margin: 10px 0 0 20px;
/*width: 10%;*/
font-size: 13pt;
}

#clean-order {
float: left;
margin: 10px 0 0 20px;
/*width: 10%;*/
font-size: 13pt;
}

fieldset {
height: 100%;
}

#clients {
padding: 0 10px 0 10px;
}

.client-list-item {
margin: 0 0 10px 0;
}
.client-list-item:hover {
background-color: white;
}

#client-info{
margin: 10px 0 20px 0;
background-color: white;
border-top: 1px solid black;
}
#client-info fieldset {
margin: 0 0 10px 0;
}
#client-info div {
font-weight: bold;
}
.client-item {
float: left;
/*width: 25%;*/
margin: 0 15px 0 0;
}
.deleteclient {
color: red;
cursor: pointer;
font-weight: bold;
}


#order-info{
margin: 10px 0 20px 0;
background-color: white;
border-top: 1px solid black;
}
#order-info fieldset {
background-color: white;
}
.edit-order-table {
text-align: left;
width: 80%;
font-weight: bold;
}
#order-info div {
font-weight: bold;
}

#order-list-header {
margin: 0 0 10px 0;
border-bottom: 2px dotted black;
}
#order-list-header div {
font-weight: bold;
}

.order-list-item {
margin: 10px 0 10px 0;
padding: 2px 0 4px 0;
border-bottom: 1px solid #BBB;
}
.order-list-item:hover {
background-color: white;
}

#order-list {
width: 100%;
}

#orders-summary div{
padding: 0 0 0 20px;
}
#orders-summary{
margin: 0 0 15px;
margin: 10px 0 0 0;
}

#order-list-table {
width: 100%;
border-collapse: collapse;
border: 1px solid black;
background-color: white;
}

#order-list-table th, #order-list-table td {
border: 1px solid black;
padding: 2px 5px 2px 5px;
}
#order-list-table th {
text-align: center;
border: 1px solid black;
}

#order-list-table td.center {
text-align: center;
}

.order-list-item:hover {
background-color: #FFC;
}

.orderoptions {
padding: 0 0 0 10px;
}
.orderoptions img {
margin: 0 3px 0 3px;
padding: 1px 0 1px 2px;
cursor: pointer;
}

.orderlate {
background-color: #FF8988;
}
.orderlate:hover {
background-color: #FF9989;
}

.orderready{
background-color: #5CF;
}
.orderready:hover {
background-color: #9EF;
}

.orderdelivered{
background-color: #7F7;
}
.orderdelivered:hover {
background-color: #AFA;
}
